process.container = 'ubuntu:20.04'
docker.enabled = true

tower {
  enabled = true
  accessToken = "$NF_TOWER_TOKEN"
}


params{
  tidehunter{
    headerlines         = "readName\trepN\tcopyNum\treadLen\tstart\tend\tconsLen\taveMatch\tfullLen\tsubPos\tconsSeq"
    minimum_match_ratio = 0.4
    min_period          = 60
    min_copy            = 3
    kmer_length         = 16
  }
}

executor {
  $local {
      cpus = 12
      memory = '16 GB'
  }
}