process.container = 'ubuntu:20.04'
docker.enabled = true

tower {
  enabled = true
  accessToken = "$NF_TOWER_TOKEN"
}

params {
  // Command-line genome key
  genome = "hg19"
  // illumina iGenomes reference file paths on UPPMAX
  genomes {
    'GRCh37' {
      bed12   = 's3://ngi-igenomes/igenomes/Homo_sapiens/Ensembl/GRCh37/Annotation/Genes/genes.bed'
      bismark = 's3://ngi-igenomes/igenomes/Homo_sapiens/Ensembl/GRCh37/Sequence/BismarkIndex'
      bowtie  = 's3://ngi-igenomes/igenomes/Homo_sapiens/Ensembl/GRCh37/Sequence/BowtieIndex/genome'
      bowtie2 = 's3://ngi-igenomes/igenomes/Homo_sapiens/Ensembl/GRCh37/Sequence/Bowtie2Index/genome'
      bwa     = 's3://ngi-igenomes/igenomes/Homo_sapiens/Ensembl/GRCh37/Sequence/BWAIndex/genome.fa'
      fasta   = 's3://ngi-igenomes/igenomes/Homo_sapiens/Ensembl/GRCh37/Sequence/WholeGenomeFasta'
      gtf     = 's3://ngi-igenomes/igenomes/Homo_sapiens/Ensembl/GRCh37/Annotation/Genes/genes.gtf'
      star    = 's3://ngi-igenomes/igenomes/Homo_sapiens/Ensembl/GRCh37/Sequence/STARIndex/'
    }
  }
}

params{
  tidehunter{
    headerlines         = "readName\trepN\tcopyNum\treadLen\tstart\tend\tconsLen\taveMatch\tfullLen\tsubPos\tconsSeq"
    minimum_period      = 150
    minimum_match_ratio = 0.6
  }
}