process.container = 'ubuntu:20.04'
docker.enabled = true

tower {
  enabled = true
  accessToken = "$NF_TOWER_TOKEN"
}


params{
  tidehunter{
    headerlines         = "readName\trepN\tcopyNum\treadLen\tstart\tend\tconsLen\taveMatch\tfullLen\tsubPos\tconsSeq"
    minimum_period      = 150
    minimum_match_ratio = 0.6
  }
}
