# This is a basic workflow to help you get started with Actions

name: Pipeline execution

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the main branch
  push:
    branches: [ main , dev ]
  pull_request:
    branches: [ main , dev ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:

  RunPipelineVariantValidation:
    strategy:
      matrix:
        nf_profile: [standard]
    # The type of runner that the job will run on
    runs-on: ubuntu-latest
    steps:
      - name: checkout repo content
        uses: actions/checkout@v2 # checkout the repository content to github runner.
      
      - name: Open std workdir
        run: |
          ls -la

      - name: Set up conda
        uses: s-weigand/setup-conda@v1

      - name: Install Nextflow
        run: |
          wget -qO- get.nextflow.io | bash > /dev/null
          sudo mv nextflow /usr/local/bin/

      - name: Run Nextflow pipeline in Docker in validation mode
        run: |
          nextflow run main.nf \
          --input_read_dir 'tests/informed' \
          --read_pattern '/fastq_pass/*.fastq' \
          --reference 'tests/informed/tp53.fasta' \
          --output_dir 'tests/result' \
          --economy_mode -profile ${{ matrix.nf_profile }}
      

  RunPythonUnitTests:
    runs-on: ubuntu-latest
    container:
      image: docker://cyclomics/cyclomicseq:2.0.0-rc1
    steps:
      - name: checkout repo content
        uses: actions/checkout@v2

      - name: Run tests with pytest
        run: python -m unittest

  PythonCodeQuality:
    runs-on: ubuntu-latest
    steps:
      - name: checkout repo content
        uses: actions/checkout@v2

      - name: Install Python dependencies
        run: pip install black

      - name: Run Black linter
        uses: wearerequired/lint-action@v2
        with:
          black: true